body {
  background: rgba(20, 45, 76, 0.9);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/kuala-lumpur-city-centre.jpg");
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 280px 0;
}
header h1 {
  font-weight: 700;
  font-size: 75px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
}
header h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
}
header h3 {
  font-weight: 900;
  font-size: 25px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
}
header a {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
  color: black;
  padding: 16px 32px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}
header a:hover {
  color: white;
  background: black;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
.responsive-image {
  max-width: 100%;
}
main {
  background: white;
}
main h2 {
  opacity: 0.3px;
  color: #272044;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 5px;
}
main h3 {
  font-size: 30px;
}
main p {
  font-size: 20px;
}
.grid {
  display: grid;
  gap: 50px;
}
.grid-two-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-three-columns-footer {
  grid-template-columns: 1fr 2fr 2fr;
}
footer {
  color: white;
  background-image: linear-gradient(
      rgba(20, 45, 76, 0.9),
      rgba(20, 45, 76, 0.9)
    ),
    url("../images/temple-footer.jpg");
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  opacity: 0.8;
  text-align: left;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
footer a {
  color: white;
  opacity: 0.8;
  font-size: 17px;
}
@media (max-width: 900px) {
  h1 {
    font-weight: 600;
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 18px;
  }
}
